
header {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 220px;
    font-size: 40px;
    background-color: #18bfd9;
    color: white;
    text-align: left;
}

body {
    margin: 0px;
    background-color:  rgb(255, 255, 255);
}

.product_list {
    display : inline-block;
    width:  280px;
	margin:  10px;
    vertical-align:  top;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color:#18bfd9;
    color: white;
    z-index: 999;
}

.navigator {
    /* position: relative; */
    padding: 10px;
    /* width: 90%;
    height: 80%; */
    margin: 20px;
    text-align: center;
}

.nav-item {
    display: inline-block;
    padding: 15px;
    margin: 20px;
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.page_name {
    height: 60px;
    width: 100%;
    text-align: center;
}

.selecting-product {
    height: 300px;
}

.select_reviewproduct {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
} 

/*********************************/

.select-rate {
    height: 260px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;

}

.rating {
    display: none;
    width: 0px;
    height: 0px;
    visibility: collapse;
}

.ranking {
    font-size: 40px;
    width: 15%;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 40px;

    opacity: 0.4;
    cursor: pointer;
}
.ranking:hover {
    opacity: 1;
    cursor: pointer;
}
.ranking.selected {
    opacity: 1;
}

.ranking img {
    width: 90%;
    height: auto;
}

.ranking-text {
    text-align:center;
}

/*********************************/

input[type=submit] {
    width: 90%;
    height: 100px;
    background-color: #18bfd9;
    color: white;
    text-align: center;
    font-size: 50px;
    border-radius: 30px;
}

input[name=content] {
    height: 300px;
    width: 90%;
    /* background-color: #D6DBDF; */
    background-color: whitesmoke;
    font-size: 30px;
}

.review_bigcolumn {
    width: 33.33%;
    padding: 5px;
    height: 150px;
    display: inline-block;
}

.review_bigrow {
    display: inline;
    text-align: left;
}

.review_column {
    width: 33.33%;
    padding: 5px;
    height: 150px;
    display: inline-block;
}

.review_row {
    display: inline-table;
    text-align: left;
}

.review_box {
    display:  inline-block;
    position: relative;
    height: 200px;
	width:  600px;
	margin:  10px;
    vertical-align:  top;
	background: #c6ecf9;
	border: 4px solid #f5f3f0;
}

.review_box:after, .review_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.review_box:after {
	border-color: rgba(255, 226, 158, 0);
	border-right-color: #c6ecf9;
	border-width: 30px;
	margin-top: -30px;
}
.review_box:before {
	border-color: rgba(245, 243, 240, 0);
	border-right-color: #f5f3f0;
	border-width: 36px;
	margin-top: -36px;
}

.like {
    height: 50px;
    width: 50px;
}

#product-image {
    position: relative;
    top: 100px;
    left: 10px;
    right: 10px;
    width: 80%;
    margin: 2.5%;
    background-color: gray;
}

.product_image {
    position: absolute;
    left: 0px;
    background-color: transparent;
    margin: 2px;
    display: inline-block;
}

.review_text {
    width: 400px;
    height: 100px;
    margin: 10px;
    float: left;
}

.review_image {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 0px;
    background-color: transparent;
    margin: 10px;
    display: inline;
}

.review_image img {
    max-width: 100px;
    max-height: 100px;
    float: right;        
}

.mdl-button.mdl-js-ripple-effect.mdl-button--colored {
    position:  fixed;
    bottom:  200px;
    right:  40px;
    z-index: 4;
    height: 100px;
    width: 100px;
}

.button-wrapper {
	padding: 10px;
    text-align: right;
    position: absolute;
    bottom: 0px;
}

.button-wrapper > a {
    text-decoration: none;
}

.button-wrapper > span {
    float: left;
}

.button-wrapper > span > i {
    vertical-align: -25%;
}

.mdl-textfield.mdl-js-textfield > button  {
	margin-left:  10px;
}


#footer { 
    display: table; 
    width: 100%; 
    table-layout: fixed; 
}

#footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;

}
#footer > div { 
    padding-top: 15px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: table-cell; 
}


#footer-text{
    line-height: 130%;
}

.footer-review{
    padding-left: 12px;
}

.selected-menu{
    background-color: #009eb7;
    box-shadow: inset 0 1px 5px rgb(125, 125, 125);
}

<<<<<<< HEAD
=======
.search-box{
    text-align: center;
}

#search{
    height: 50px;
	width:  75%;
    margin:  10px;
    margin-top: 30px;
    margin-right : 100px;
    vertical-align:  top;
	background: white;
    border: 4px solid #f5f3f0;
    text-align: center;
    font-size: 30px;
    color: #4e4e4e;
}

.search-show {
    display: none;
}
>>>>>>> sangwoo
