header {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    font-size: 40px;
    background-color: #ff5d46;
    color: white;
    text-align: left;
}

body {
    background-color:  rgb(255, 255, 255);
}

.product_list {
    display : inline-block;
    width:  280px;
	margin:  10px;
    vertical-align:  top;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #ff5d46;
    color: white;
    text-align: center;
}

.page_name {
    font-size: 38px;
    text-align: center;
}

.select_reviewproduct {
    font-size: 40px;
    text-align: center;
}

.rankings {
    font-size: 40px;
    text-align: center;
}

input[type=submit] {
    width: 90%;
    height: 100px;
    background-color: #ff5d46;
    color: white;
    text-align: center;
    font-size: 50px;
}

input[name=content] {
    height: 200px;
    width: 90%;
    background-color: #D6DBDF;
    font-size: 30px;
}

.review_box {
    display:  inline-block;
    position: relative;
    height: 300px;
	width:  600px;
	margin:  10px;
    vertical-align:  top;
	background: #ffe29e;
	border: 4px solid #f5f3f0;
}

.review_box:after, .review_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.review_box:after {
	border-color: rgba(255, 226, 158, 0);
	border-right-color: #ffe29e;
	border-width: 30px;
	margin-top: -30px;
}
.review_box:before {
	border-color: rgba(245, 243, 240, 0);
	border-right-color: #f5f3f0;
	border-width: 36px;
	margin-top: -36px;
}

.container {
    width: 150px;
    height: 100px;
    margin: 10px;
    display: table;
    float: right;
    background-color: white;         
}

.container .image-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.container .image-container img {
    max-width: 180px;
    max-height: 150px;        
}
/*
.product_photo {
    width: 110px;
    height: 110px;
    margin: 10px;
    display: table;
    float: left;
    background-color: white; 
}

.product_photo .image-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.container .image-container img {
    width: 100px;
    height: 100px;
}
*/

.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored {
    position:  fixed;
    bottom:  20px;
    right:  40px;
    z-index: 3px;
}

.button-wrapper {
	padding: 16px;
	text-align: right;
}

.button-wrapper > a {
    text-decoration: none;
}

.button-wrapper > span {
    float: left;
}

.button-wrapper > span > i {
    vertical-align: -25%;
}

.mdl-textfield.mdl-js-textfield > button  {
	margin-left:  200px;
}
