{% extends 'base.html' %}
{% block content %}
  <h1>Product List</h1>
  <br/>

<!-- dictionary로 구현 -->
  {% for key, value in categories.items %} 
    <a href="/products/category/{{ key }}">{{ value }}</a>  <!--view-->
  {% endfor %}
  <br/>

  {% for key, value in sub_categories.items %} 
    <a href="/products/category/{{ key }}">{{ value }}</a>  <!--view-->
  {% endfor %}
  <br/>

  {% for product in products %}
    <div class='product_list'>
      {% if user.is_authenticated %}
        <a href="/products/{{ product.id }}/save">        <!--view-->
          {% if product in user.products_saved.all %}
            <i class="material-icons">찜</i>        <!--material-icons-->
          {% else %}
            <i class="material-icons">노찜</i>
          {% endif %}
        </a>
      {% endif %}
      <a href="/products/{{ product.id }}">             <!--view-->
        <i class="material-icons">상세보기</i>
      </a>
      
      <br/>

      {% if product.photo %}
        <img src="{{ product.photo }}" width = "150" alt="">
      {% endif %}
      {% if product.PBstore%}
        <img src="{{ product.PBstore }}" width = "30" alt="">
      {% endif %}
      {% comment %} (임시)상품번호:{{ product.id }} {% endcomment %}
      <h4>상품명 : {{product.name}}</h2>
      <h4>가격 : {{product.price}}</h2>
      
      <h4><img src="{{ product.emoticon }}" width = "30" alt=""> {{product.rating}}</h2>  <!--choose emoticon-->
    </div>
  {% endfor %}
{% endblock %}