{% extends 'base-product.html' %}
{% load  staticfiles %}
{% comment %} 
todo: 
편의점필터 접기펼치기
PB 아이콘 

 {% endcomment %}
 {% block content %}
<head>
    <title> 제품 페이지 </title>
    <link  rel="stylesheet"  href="{% static 'productpage/index.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
  <a href='/products/new'>목록생성</a>                           <!--view-->
  


<div style="width: 100%;">
  <div class = "conv-filter__wrapper">

    <a class="collapsible">▾ 편의점 전체</a>
    <div class = "pb-content">
      <ul>
      {% for key, value in pb_stores.items %} 
        {% if key == 0 %}
        <li><a id = "pb-filter" href="/products/category/{{ct}}/{{key}}">편의점 전체</a></li> 
        {% else %}
        <li><a id = "pb-filter" href="/products/category/{{ct}}/{{key}}">{{ value }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">add</i>
  </button>

<!-- dictionary로 구현 -->
  <div class = "filter__wrapper">
  {% for key, value in categories.items %} 
    <a id = "filter" href="/products/category/{{ key }}/{{pb}}">{{ value }}</a>  <!--view-->
  {% endfor %}
  </div>

  <br/>
  <div class ="product-list__wrapper">
  {% for product in products %}


    <div class="product-list">

    <div class="top-icons">
      {% if user.is_authenticated %}
        <a href="/products/{{ product.id }}/save">        <!--view-->
          {% if product in user.products_saved.all %}
            <img class = "bookmark" src = {% static 'bookmark_cancel.png'%} >
          {% else %}
            <img class = "bookmark" src = {% static 'bookmark.png'%} style= "opacity:0.8" >
          {% endif %}
        </a>
      {% endif %}

       {% if product.pb_store_code %}
            {{ product.pb_store_code }}
              <img src="{{ product.pb_store_code }}" width = "20" alt="">
       {% endif %}
    </div>


      <div class = "table-wrap">
      <table>
        <tbody>
            <div class = "image-wrap">
            {% if product.photo %}
              <a href="/products/{{ product.id }}"><img id ="product-img" src = {{ product.photo }}></a>
            {% endif %}

            </div> 
            <tr style = "font-size: 2.2vw;">
                <th></th>
                <td>{{product.name}}
                </td>
            </tr>
            <tr style = "font-size: 2vw">
                <th></th>
                <td>{{product.price}}</td>
            </tr>
            <tr class = "rating">
                <th></th>
                <td style = "font-size: 2vw; font-weight: bold;">
                <img src="{{ product.emoticon }}" width = "30" alt=""> 
                {{product.rating}} {{product.category_code}}
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}

  
  </div>

<script>
  var coll = document.getElementsByClassName("collapsible")
  var i;

  for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
  }
  
</script>
</body>
{% endblock%}