{% load  staticfiles %}

<head>
    <title> 제품 페이지 </title>
    <link  rel="stylesheet"  href="{% static 'productpage/index.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
  <a href='/products/new'>목록생성</a>                           <!--view-->
  <br/>

  <div class = "conv-filter__wrapper">
  <a id = "conv-filter">편의점 필터 </a>
  </div>

  <div class = "filter__wrapper">
  {% for category in categories %} 
    <a id = "filter" href="/products/category/{{ category_id }}">{{ category }}</a>  <!--view-->
  {% endfor %}
  </div>

  <br/>
  <div class ="product-list__wrapper">
  {% for product in products %}

     
    <div class="product-list">

    
      {% if user.is_authenticated %}
        <a href="/products/{{ product.id }}/save">        <!--view-->
          {% if product in user.products_saved.all %}
            <img class = "bookmark" src = {% static 'bookmark.gif'%} >
          {% else %}
            <img class = "bookmark" src = {% static 'bookmark_cancel.png'%} style= "opacity:0.8" >
          {% endif %}
        </a>
      {% endif %}
   
      
      <div class = "image-wrap">
      {% if product.photo %}
        <a href="/products/{{ product.id }}"><img id ="product-img" src = {{ product.photo.url }}></a>
      {% endif %}
      {% if product.PBstore %}
        <img src="{{ product.PBstore }}" width = "20" alt="">
      {% endif %}
      </div>


      <div class = "table-wrap">
      <table>
        <tbody>
            <tr style = "font-size: 2.2vw;">
                <th>상품명</th>
                <td>{{product.name}}
                </td>
            </tr>
            <tr style = "font-size: 2vw">
                <th>가격</th>
                <td>{{product.price}} 원 </td>
            </tr>
            <tr class = "rating">
                <th><img src="{{ product.emoticon }}" width = "30" alt=""></th>
                <td style = "font-size: 2vw; font-weight: bold;">
                {{product.rating}}
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}

  
  </div>


</body>