{% extends 'base-product.html' %}
{% load  staticfiles %}


{% block content %}
<head>
    <title> 제품 상세 페이지 </title>
    <link  rel="stylesheet"  href="{% static 'productpage/detail.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<section>
<form action="/products/{{ product.id }}/seed" method='POST'>
	{% csrf_token %}
  <input name="count" value="20"/> 
	<input type="radio" name="taste" value='good'/>good
	<input type="radio" name="taste" value='soso'/>soso
	<input type="radio" name="taste" value='bad'/>bad
	<input type='submit'>
</form>
</section>

<section class = "product-info">
    <img src = {{ product.photo }} class = "product-info__photo" >
    <div class = "product-info__texts">
        <table>
        <tbody>
            <tr style = "font-size: 45px; line-height: 200%;">
                <th>상품명</th>
                <td> {{ product.name }} </td>
            </tr>
            <tr>
                <th>가격</th>
                <td> {{product.price}} 
                </td>
            </tr>
            {% comment %} <tr>
                <th>태그</th>
                <td>
                <a class = "tag">#tag</a>
                <a class = "tag">#tag</a>
                for문 사용해서 tag 불러오기 
                {% for tag in product.tags %}
                <a class = "tag"># tag.name </a>
               
                </td>
            </tr> {% endcomment %}
        </tbody>
        </table>
    </div>
</section>

<section class = "product-rating">
    
    <div class = "product-total-rating"style="margin-bottom: 0px;">
        <section style = "font-size: 35px; font-weight: bold; margin-bottom: 20px;"> 
        <img src="{{ product.emoticon }}" width = "40" style="position: relative; top: 5px;" alt="">
         {{ product.rating }}
        </section>
        {% comment %} <div class = "gray-star" style=" height: 80px; margin-bottom: 0px;">
        <img src = "{% static "graystar.gif" %}" style="height: 60px;">
            <div class = "star" style="width: {{product.rating}};"> 
            <img src = "{% static "colorstar.gif" %}" style="height: 60px;">
            </div> 
        </div>  {% endcomment %}
    </div>

    <div class = "product-rating-detail">
    <canvas id="myChart"></canvas>


    </div>
</section>

<section class = "product-reviews">
<h1 style = "font-size: 35px;">리뷰
<a style ="font-size:20px;"> ( {{ product.review_set.count }} ) </a>
</h1> 

{% for review in product.review_set.all %}

    <section style="margin-bottom: 30px; border: 1px solid gray;">
    <div>{{ review.content }}</div>
    {% if review.photo %}
        <img src="{{ review.photo.url }}" alt=""/>
    {% endif %}
    <div> rate: {{ review.review_rating }} </div>
    <div> author: {{review.author}} </div>
    </section>

{% endfor %}
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
Chart.defaults.global.defaultFontStyle = 'Bold'
var myBarChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['😍꿀맛', '🙂맛나', '😐그닥', '️🙁노맛', '🤮우웩'],
        datasets: [{
            backgroundColor: ['lightpink', 'SandyBrown', 'PaleGoldenRod', 'MistyRose','LightSalmon'],
            data: {{ rates }}
        }]
    },
    
    options: {
        tooltips: {enabled: false},
        hover: {mode: null},
        scales: {
             xAxes: [{
                ticks: {
                callback: function (value) { if (Number.isInteger(value)) { return value; } },
                beginAtZero: true
                }
            }],
            yAxes: [{
            
            barPercentage: 0.7, 
            categoryPercentage: 0.6,
            ticks: {
            
                fontSize:24,
            }
            }]
            
        },

        legend: {
            display: false,
        }
        
    }
});
</script>
</body>

{% endblock %}