{% extends 'base.html' %}

{% block content %}
	<h1>Review Page</h1>
  		{% if user.is_authenticated %}
    		<a  href="/reviews/new" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      		<i  class="material-icons">add</i>
			</a>
		{% endif %}
		<select id="sort-select" onchange="location = this.value;">
    		<option class="sort-date" value="/">최신순</option>
    		<option class="sort-likes" value="?sort=likes">좋아요순</option>
		</select>
		<br>
		{% for category in categories %} 
		  <a href="../productpage/products/category/{{ category }}">{{ category }}</a> 
		{% endfor %}
		<br>
		{% for review in reviews %}
		<!--{% if product.photo %}
		<div class="product_photo">
			<div class="image-container">
				<img src="{{ product.photo.url }}" alt=""/>
			</div>
		</div>
		{% endif %}-->
		<div class="arrow_box">
    		<div  class="button-wrapper">
				<span>
					<i class="material-icons">portrait</i> <!--icon change needed-->
					{{ review.author.username }}
				</span>
          	<a  href="/reviews/{{ review.id }}/like"  class="material-icons mdl-badge mdl-badge--overlap"  data-badge="{{ review.liked_users.count }}">
            	{% if  user in review.liked_users.all %}
              	<i  class="material-icons">favorite</i>
            	{% else %}
              	<i  class="material-icons">favorite_border</i>
            	{% endif %}
          	</a>
          	<a  href="/reviews/{{ review.id }}">
            <i class="material-icons">description</i> <!--icon change needed-->
          	</a>
          	<a href="/reviews/{{ review.id }}/save" class="material-icons mdl-badge mdl-badge--overlap" >
            	{% if user in review.saved_users.all %}
              	<i  class="material-icons">bookmark</i>
            	{% else %}
              	<i  class="material-icons">bookmark_border</i>
            	{% endif %}
          	</a> 
          	{% if request.user == review.author %}
          		<a  href="/reviews/{{ review.id }}/edit">
            	<i  class="material-icons">edit</i>
          		</a>
          		<a  href="/reviews/{{ review.id }}/delete"  onclick="return confirm('정말 삭제하시겠습니까?')">
            	<i  class="material-icons">delete</i>
          		</a>
          	{% endif %}
			</div>
        <!--<div class="rankings">
			<img src="{{ product.emoticon }}" width = "30" alt=""> {{product.rating}}
        </div>-->
    	<div class="mdl-card__supporting-text">
        	{{ review.content }}
    	</div>
		  {% if review.photo %}
		  	<div class="container">
				<div class="image-container">
					<img src="{{ review.photo.url }}" alt=""/>
				</div>
			</div>​
      	{% endif %}
    </div>
  {% endfor %}
{% endblock content %}