
{% extends 'base-review.html' %}
{% load staticfiles %}
  <link rel="stylesheet" href="{% static 'reviewpage/index.css' %}">
 <script src="https://kit.fontawesome.com/e2620f3315.js"></script>
 
{% block content %}
  		{% if user.is_authenticated %}
    	<a class="my-button" href="/reviews/new">
			<span>+</span>
		</a>

		{% endif %}

		<select id="sort-select" onchange="location = this.value;">
    		<option class="sort-date" value="/">최신순</option>
    		<option class="sort-likes" value="?sort=likes">좋아요순</option>
			{% if user.is_authenticated %}
			<option class="sort-mypost" value="?sort=mypost">내 리뷰</option>
			{% endif %}
		</select>
		<br>
		
		{% for review in reviews %}
		<div class="review_bigrow">
		
			<div class="review_bigcolumn">
				<a href="/products/{{ review.product.id }}">


				<div class="review_box" href="/products/{{ review.product.id }}">
				    
					<div class="product_image">
					{% if review.product.photo %}
						<a href="/products/{{ review.product.id }}"><img id ="product-image" src = {{ review.product.photo }}></a>
					{% endif %}
					</div>				

				<div class ="text-box">
					<div class="rankings">
						<img src="{{ review.emoticon }}" width = "30"> {{ review.review_rating }}
					</div>

					{% if review.photo %}
					<div class="review_row">
						<div class="review_column">
							<div class="review_text">
								{{ review.content }}
								<!--{{ review.content|safe|truncatewords:"1"|linebreaks }}
								<a href="/reviews/{{ review.id }}">더보기</a>--> <!--바로 보이게 수정하기-->
							</div>
						</div>
						<div class="review_column">
							<div class="review_image">
								<img src="{{ review.photo.url }}" alt=""/>
							</div>
						</div>​
					</div>
					{% else %}
					<div class="review_text">
						{{ review.content }}
					</div>	
					{% endif %}
					</a>
				
				<div class="button-wrapper">
					<span>
						<i class="fas fa-user-circle"></i>
						{{ review.author.username }}
					</span>
					<a href="/reviews/{{ review.id }}/like" style="color: black;"> 
						{% if  user in review.liked_users.all %}
						<i class="fas fa-thumbs-up"></i>
						{% else %}
						<i class="far fa-thumbs-up"></i>
						{% endif %}
						{{ review.liked_users.count }}
					</a>

					{% if request.user == review.author %}
						<a  href="/reviews/{{ review.id }}/edit">
						<i  class="material-icons">edit</i>
						</a>
						<a  href="/reviews/{{ review.id }}/delete"  onclick="return confirm('정말 삭제하시겠습니까?')">
						<i  class="material-icons">delete</i>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		</div>
	</div>
  {% endfor %}
{% endblock content %}