{% extends 'base.html'%}

{% block content %}
  <h1>review page</h1>
  {% if user.is_authenticated %}
    <a href="/reviews/new">new review</a>
  {% endif %}
  {% for review in reviews %}
    <div style="border: 1px solid grey;">
      <a href="/reviews/{{ review.id }}">더보기</a>
      {% if  request.user == review.author %}
        <a href="/reviews/{{ review.id }}/edit">수정하기</a>
        <a href="/reviews/{{ review.id }}/delete" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
      {% endif %}
      <p>{{ review.title }}</p>
      <p>{{ review.content }}</p>
    </div>
  {% endfor %}
{% endblock content %}