{% extends 'base.html'%}

{% block content %}
  <div class="page_name">
    <h2>리뷰 작성하기</h2>
  </div>
  <form action="/reviews/" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="select_reviewproduct">
      <p>리뷰하실 제품을 선택해주세요</p>
    </div>
    <div class="rankings">
      <button type="button" class="ranking">꿀맛😍</boarder>
      <button type="button" class="ranking">맛나🙂</boarder>
      <button type="button" class="ranking">그닥😐</boarder>
      <button type="button" class="ranking">노맛🙁</boarder>
      <button type="button" class="ranking">우웩🤮</boarder>
    </div>
    <h1>나만의 간단후기 쓰기</h1>
    <input name="content" value="제품의 맛, 식감, 가성비 등을 간단하게 표현해보아요!"/> <br />
    </br>
    </br>
    <input name="photo" type="file"/>
    </br>
    <input type="submit" value="리뷰 작성 완료!" />
  </form>
{% endblock content %}
