.product-list__wrapper{
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 32% 32% 32%;
    grid-auto-rows: minmax(min-content, max-content);
    grid-column-gap: 2%;
    grid-row-gap: -20px;
}

.conv-filter__wrapper  {
    position: relative;
    left: 65%;
    text-align: right;
    width:30%;
    margin: 20px;
    margin-right: 40px;
    font-size: 35px;
}


/* pb-filter */

.collapsible{
    cursor: pointer;
    color: rgb(89, 89, 89);
    padding: 3%;
    border: 1px solid gray;
    border-radius: 10px;
}

.active, .collapsible:hover{
    background-color: whitesmoke;
}

.pb-content{
    display: none;
    overflow: hidden;
}

.pb-content ul{
    padding: 3%;
    list-style: none;
    margin-block-start: 2vw;
    margin-block-end: 10px;
}


#pb-filter {
    text-decoration: none;
    font-size: 35px;
    color: gray;
}

.image-wrap{
    position: relative;

}

.product-image{
    z-index: 0;
}
#product-img{
    position: relative;
    width: 95%;
    margin: 2.5%;
    background-color: gray;
    z-index: inherit;

}
.pb-image{
    position:relative;
    text-align: right;
    margin: 2.5%;
    background-color: white;
    height: 30px;
    overflow: visible;
    z-index:1;
}

#pb-img{
    border:0;
    
}

td {
    text-align: center;
}

.product-list{
    margin-top: 20px;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 10px;
    /* height: 90%; */
}

.filter__wrapper{
    width: 100%;
    margin: 10px;
    text-align: center;
}


#conv-filter{
    position: relative;
    left: 75%;
    width: 100%;
    text-align: right;
    font-size: 35px;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 10px;
    color: gray;
}

#filter{
    color: #fc9084;
    text-decoration: none;
    border: 2px solid #ff9e93;
    font-size: 40px;
    padding: 7px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 30px;
    margin-right: 5px;
    line-height: 200%;
}

#sub-filter{
    color: #f2b3ac;
    font-size: 30px;
    border: 2px solid #f2b3ac;
    padding: 7px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 30px;
    margin-right: 5px;
    line-height: 200%;
    text-decoration: none;
}


.title{
    width: 100%;
}

table{
    width: 90%;
    margin-left: 10px;
    position: relative;
    border-collapse: separate;
    border-spacing: 15px;
}

th img {
    padding-left: 7px;
    background: transparent;
}

.rating{
    padding: 10px;
}

.bookmark{
    z-index: 2;
    position: relative;
    width:25%;
    left: 75%;
}

/* .table-wrap{
    position: relative;
    
} */

